@font-face {
		font-family: "GothamPro";
		src: url("../fonts/GothamProRegular/GothamProRegular.eot");
		src: url("../fonts/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProRegular/GothamProRegular.woff") format("woff"),
		url("../fonts/GothamProRegular/GothamProRegular.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
}

/* @font-face {
		font-family: "GothamProBold";
		src: url("../fonts/GothamProBold/GothamProBold.eot");
		src: url("../fonts/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBold/GothamProBold.woff") format("woff"),
		url("../fonts/GothamProBold/GothamProBold.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
} */

@font-face {
		font-family: "GothamPro";
		src: url("../fonts/GothamProBlack/GothamProBlack.eot");
		src: url("../fonts/GothamProBlack/GothamProBlack.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBlack/GothamProBlack.woff") format("woff"),
		url("../fonts/GothamProBlack/GothamProBlack.ttf") format("truetype");
		font-style: normal;
		font-weight: 900;
}

/* @font-face {
		font-family: "GothamProItalic";
		src: url("../fonts/GothamProItalic/GothamProItalic.eot");
		src: url("../fonts/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProItalic/GothamProItalic.woff") format("woff"),
		url("../fonts/GothamProItalic/GothamProItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
} */

@font-face {
		font-family: "GothamPro";
		src: url("../fonts/GothamProMedium/GothamProMedium.eot");
		src: url("../fonts/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProMedium/GothamProMedium.woff") format("woff"),
		url("../fonts/GothamProMedium/GothamProMedium.ttf") format("truetype");
		font-style: normal;
		font-weight: 500;
}

@font-face {
		font-family: "GothamPro";
		src: url("../fonts/GothamProLight/GothamProLight.eot");
		src: url("../fonts/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProLight/GothamProLight.woff") format("woff"),
		url("../fonts/GothamProLight/GothamProLight.ttf") format("truetype");
		font-style: normal;
		font-weight: 300;
}

/* @font-face {
		font-family: "GothamProMediumItalic";
		src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot");
		src: url("../fonts/GothamProMediumItalic/GothamProMediumItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProMediumItalic/GothamProMediumItalic.woff") format("woff"),
		url("../fonts/GothamProMediumItalic/GothamProMediumItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
} */

/* @font-face {
		font-family: "GothamProLightItalic";
		src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot");
		src: url("../fonts/GothamProLightItalic/GothamProLightItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProLightItalic/GothamProLightItalic.woff") format("woff"),
		url("../fonts/GothamProLightItalic/GothamProLightItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
} */

/* @font-face {
		font-family: "GothamProBoldItalic";
		src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot");
		src: url("../fonts/GothamProBoldItalic/GothamProBoldItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBoldItalic/GothamProBoldItalic.woff") format("woff"),
		url("../fonts/GothamProBoldItalic/GothamProBoldItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
} */

/* @font-face {
		font-family: "GothamProBlackItalic";
		src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot");
		src: url("../fonts/GothamProBlackItalic/GothamProBlackItalic.eot?#iefix")format("embedded-opentype"),
		url("../fonts/GothamProBlackItalic/GothamProBlackItalic.woff") format("woff"),
		url("../fonts/GothamProBlackItalic/GothamProBlackItalic.ttf") format("truetype");
		font-style: normal;
		font-weight: normal;
} */

*{
	padding: 0;
	margin: 0;
	border: 0;
}

*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

input,button,textarea{font-family:inherit;}

button{cursor: pointer;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

body {
	background: #e8eef2;
	color: #27292b;
	font-family: GothamPro,Helvetica,"Open Sans",sans-serif,arial;
	font-size: 15px;
}

input {
    outline: none;
}

.container_vacancies {
	padding: 0 10px;
	max-width: 1348px;
	margin: 0 auto;
}

.selection_wrapper {
	background-color: #fff;
}

.selection {
	font-size: 14px;
	line-height: 19px;
	padding: 19px 0;
}

.selection a {
	text-decoration: none;
	color: #004CE3;
}

.select_link_first:after {
	content: "—";
	margin: 0 0.2rem;
}

.select_link:after {
	content: "—";
	margin: 0 0.2rem;
	color: #999EA6
}

.selection .select_link_last {
	color: #999EA6;
}

.headline {
	background-color: #fff;
}

.headline_block {
	display: flex;
	justify-content: space-between;
    align-items: center;
    padding: 32px 0 24px;
}

.headline_block_btn {
	display: none;
}

.vacancies_titles {
    font-weight: 900;
	font-size: 26px;
    line-height: 34px;
	color: #003151;
}

.table_wrapper {
	background-color: #fff;
	padding-bottom: 96px;
}

.table {
	border-collapse: collapse;
}

.table td {
	border: 1px solid #E8EEF2;
}

.table td:not(.table_title) {
    vertical-align: top;
}

.table_title {
    font-weight: 500;
	height: 54px;
	text-align: center;
}

.table_title:last-child,
.table_title:first-child {
	width: 223px;
}
.table_title:nth-child(2),
.table_title:nth-child(3),
.table_title:nth-child(4) {
	width: 294px;
}

.table_title_row {
    font-weight: 500;
	vertical-align: top;
	line-height: 24px;
	text-align: left;
	padding: 15px;
}

.table_list {
	list-style-type: none;
	padding: 15px;
}

.table_list li {
	line-height: 27px;
    display: flex;
}

.table_marker::before {
	content: "";
	width: 7px;
	height: 7px;
	background-color: #007BFF;
	border-radius: 50%;
	display: inline-block;
	line-height: 7px;
	margin-right: 10px;
    margin-bottom: 1px;
}

.table_td_btn {
	padding: 15px;
	vertical-align: top;
	text-align: center;
}

.table_btn {
	cursor: pointer;
	border: none;
	font-size: 16px;
	padding: 14px 24px;
	color: #FFFFFF;
	background-color: #007BFF;
	line-height: 1;
}
.leftright_wrapper {
	padding: 12px 0 2px;
	display: none;
	justify-content: center;
}

.resume_wrapper {
	background-color: #fff;
}

.resume_title {
	height: 58px;
}

.form {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.form_block {
	max-width: 600px;
	width: 100%;
}

.form_text_title {
	font-weight: 300;
	font-size: 12px;
	line-height: 14px;
	color: #828688;
	margin: 16px 0 8px 0;
}
.form_text_title:after {
	content: "";
	display: inline-block;
	width: 4px;
	height: 4px;
	background-color: #FF0000;
	border-radius: 50%;
	margin: 2px 1px;
}



.form_input{
    font-size: 15px;
	width: 100%;
	height: 38px;
	padding: 0 12px;
	border: 1px solid #E8EEF2;
	box-sizing: border-box;
}

.form_error {
	border: 1px solid #FF0000;
}

.form_error_checkbox {
	color: red;
}

.form_select {
    font-size: 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 38px;
	border: 1px solid #E8EEF2;
	padding: 0 12px;
	box-sizing: border-box;
}

.form_arrow {
	position: relative;
	width: 6px;
	height: 4px;
}

.form_arrow span {
	position: absolute;
	left: -2px;
	bottom: 1px;
	height: 2px;
	width: 100%;
	transform: rotate(45deg);
	background-color: #27292B;
	transition: all .4s ease 0s;
}

.form_arrow:after {
	content: "";
	position: absolute;
	right: -1px;
	bottom: 1px;
	width: 100%;
	height: 2px;
	transform: rotate(-45deg);
	background-color: #27292B;
	transition: all .4s ease 0s;
}

.form_arrow.form_arrow_active span {
	transform: rotate(-45deg);
}

.form_arrow.form_arrow_active:after {
	transform: rotate(45deg);
}

.form_drop_out {
	display: none;
	position: relative;
	z-index: 1;
}

.form_active {
	display: block;
}

.form_drop_out_ul {
	position: absolute;
	background-color: #FFFFFF;
	width: 100%;
	height: 0;
	transition: all .4s ease 0s;
	overflow: hidden;
	filter: drop-shadow(0px 13px 20px rgba(164, 174, 195, 0.35));
}

.form_drop_out_ul li{
    font-size: 15px;
	list-style-type: none;
	min-height: 38px;
	border: 1px solid #E8EEF2;
	border-top: 0;
	padding: 0 12px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
}
.form_drop_out_ul li:hover {
	background-color: #E8EEF2;
}

.form_checkbox_wrapper {
    color: #828688;
    font-size: 12px;
    line-height: 14px;
	font-weight: 300;
    display: flex;
    margin: 8px 0;
}

.form_checkbox {
    box-sizing: border-box;
	margin-right: 7px;
}

.form_resume {
	display: flex;
	height: 109px;
	border: 1px solid #E8EEF2;
	padding: 0 12px;
	justify-content: space-between;
	align-items: center;
}

.form_resume_empty {
	display: block;
}
.resume_empty_toggle {
	display: none;
}

.form_resume_ok {
	display: none;
    flex-grow: 1;
	align-items: center;
	padding: 0 10px 0 0;
}
.resume_ok_toggle {
	display: flex;
}

.form_resume_ok img {
	width: 50px;
	height: 50px;
	margin-right: 10px;
    flex-grow: 0;
}

.user_name_resume {
    position: relative;
    flex-grow: 1;
    line-height: 17px;
    max-height: 50px;
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}
.user_name_resume:after {
	content: "";
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 40%;
	height: 20px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF 115%);
	pointer-events: none;
}

.form_checkbox_link {
	text-decoration: none;
	color: #007BFF;
}

.form_button {
	background-color: #007BFF;
	padding: 14px 20px;
	color: #FFFFFF;
	border: none;
	font-size: 16px;
	line-height: 1;
}

.btn_transition {
	transition: all .4s ease-out;
}
.btn_transition:hover {
	background-color: #003151;
	border-color: #003151;
}

.input_wrapper {
    flex-grow: 0;
	position: relative;
}

.input_file {
	position: absolute;
	right: 0;
	opacity: 0;
	visibility: hidden;
}

.input_file_button_text {
	padding: 14px 20px;
	background: #007BFF;
	font-size: 16px;
	color: #FFFFFF;
	display: inline-block;
	line-height: 1;
}

@media (max-width: 1024px) {
	.container_vacancies {
		padding: 0;
	}

	.content_centering {
		max-width: 831px;
		margin: auto;
	}

	.headline_block_btn {
		display: block;
		flex-grow: 0;
		padding-right: 20px;
	}

    .headline_block {
        padding: 32px 0 16px 20px;
    }

    .vacancies_titles {
        font-size: 24px;
        line-height: 31px;
    }

	.selection {
		flex-grow: 1;
		padding-left: 20px;
	}

	.table {
		margin: auto;
	}

	.table td {
		display: block;
		border-top: 0;
		border-bottom: 0;
		margin: 0 5px;
	}

	.table td:last-child {
		border-bottom: 1px solid #E8EEF2;
	}

	.table .table_title_row {
		border-top: 1px solid #E8EEF2;
	}

	.table_title_row {
		padding: 10px 5px 0 5px;
	}


	.table_title:not(.table_title_mobile) {
		display: none;
	}

	.condition_mobaile:before,
	.duty_mobile:before,
	.requirement_mobile:before {
		content: 'Требования';
		font-weight: 500;
		display: block;
		padding: 10px 0 5px 0;
	}

	.duty_mobile:before {
		content: 'Обязанности';
	}

	.table_list {
		padding: 0 5px;
	}

	.table_td_btn {
		padding: 10px 0 10px 5px;
		text-align: left;
	}

	.table_wrapper {
		padding-bottom: 16px;
	}

    .table_marker::before {
        margin-right: 5px;
    }
	.leftright_wrapper_active {
        display: flex;
    }

	.table_row {
		opacity: 0;
		transition: 1s;
	}

	.table_row_visible {
		opacity: 1;
	}

	.row_disable {
		display: none;
	}

    .leftright {
        display: flex;
    }

    .leftright_points {
        display: flex;
        align-items: center;
        margin: 0 14px;
    }

    .leftright_point {
        width: 6px;
        height: 6px;
        background: #003151;
        border-radius: 50%;
    }

    .leftright_point:not(:last-child) {
        margin-right: 12px;
    }

    .point_active {
        background: #007BFF;
    }

	.resume_title {
		height: 47px;
		padding: 0 20px;
	}

	.form {
		padding: 0 20px;
	}

	.form_text_title {
		margin: 8px 0;
	}

	.form_drop_out_ul {
		width: 108%;
		left: -4%;
	}

	.form_drop_out_ul li,
	.form_select {
		line-height: 20px;
		padding: 10px 12px 8px 12px;
	}

	.out_ul_active1 {
		height: 156px;
	}

	.out_ul_active2 {
		height: 354px;
	}

	.form_resume {
        display: block;
		border: 0;
		padding: 0;
		height: auto;
		margin-bottom: 16px;
	}

	.resume_empty_mobile {
		justify-content: flex-start;
		padding: 0;
		height: auto;
	}

	.form_resume_ok {
		padding: 0 10px 8px 0;
	}

    .form_resume_ok img {
        margin-right: 5px;
    }

	.form_resume_empty {
		display: none;
	}

	.form_button {
		padding: 14px 20px;
	}
}

